<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.23.0/moment.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.23.0/locale/zh-cn.js"></script>
  <title>博客首页</title>
  <style>
    .blog-item {
      border-bottom: 1px solid #ccc;
    }

    .blog-item a{
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>博客首页</h1>
  <hr>
  <div class="blog-item">
    <h3>
      <a href="">测试一</a>
      <p class="info">lisi 2019年12日</p>
    </h3>
  </div>
  <div class="blog-item">
    <h3>
      <a href="">测试一</a>
      <p class="info">lisi 2019年12日</p>
    </h3>
  </div>
</body>
</html>
<script>
  
const baseUrl = 'http://localhost:3000/'
const urlApi = baseUrl + 'api/blog/list'
  
$(document).ready(function(){
  $.ajax({
    type: 'GET',
    url: urlApi,
    success: function(data) {
      console.log(data)
    },
    error: function(e) {
      console.log(e)
    }
  })
});
</script>