<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <title>博客新增页面</title>
  <style>
    
  </style>
</head>
<body>
  <h1>新增博客</h1>
  <hr>
  <p class="title">
    用户名：<input type="text" id="username" placeholder="请输入用户名">
  </p>
  <p>
    密码：<input type="password" id="password" placeholder="请输入密码">
  </p>
  <button id="submit">登录</button>
</body>
</html>
<script>
  let username = $('#username')
  let password = $('#password')
  let submit = $('#submit')

  const baseUrl = 'http://localhost:3000/'
  const urlApi = baseUrl + 'api/user/login'
  
  submit.click(() => {
    $.post(urlApi, {
      username: username.val(),
      password: password.val()
    },(data, status) => {
      console.log(data, status)
    })
  })

</script>
